doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Admin - Edit
  body
    form(action='/admin/edit', method='POST')
      label(for='username') username
      input(type='text', name='username' value=user.username)
      br
      label(for='password') password
      input(type='password', name='password')
      br
      label(for='email') email
      input(type='email', name='email' value=user.email)
      button(type='submit') edit
