form(action="/cheque/create", method="post")
    h3 cheque jaa
    label(for="byOrganizationId") byOrganizationId
    select(name="byOrganizationId")
        for organization in organizations
            option(value=organization._id)=organization.name
    br
    label(for="accountId") accountId
    select(name="accountId")
        option(value="")="other bank"
        for accountId in accountIds
            option(value=accountId._id)=accountId.accountId
    br
    label(for="accountNo") accountNo (if other bank set here)
    input(type="text" name="accountNo")
    br
    label(for="amount") amount
    input(type="text" name="amount")
    br
    label(for="drawee") drawee
    input(type="text" name="drawee")
    br
    select(name="type")
        option(value="CASH") CASH
        option(value="ORDER") ORDER
        option(value="ETC") ETC
    br
    select(name="status")
        option(value="ACTIVE") ACTIVE
        option(value="REJECT") REJECT
        option(value="ETC") ETC
    br
    label(for="drawDate") drawDate
    input(type="date" name="drawDate")
    button(type="submit") hit me !
