<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Branch - Create</title>
</head>
<body>
    <form action="/branch/create" method="POST">
        <label for="name">name</label>
        <input type="text" name="name"> <br>
        <label for="address">address</label>
        <textarea name="address" rows="5"></textarea> <br>
        <label for="zipcode">zipcode</label>
        <input type="number" name="zipcode"> <br>
        <label for="balance">balance</label>
        <input type="number" name="balance"> <br>

        <button type="submit">create</button>
    </form>
</body>
</html>