form(action="/transaction/staff/cheque", method="post")
    h3 transaction cheque
    label(for="type") type of transaction
    select(name="type")
        option(value="CHEQUE") CHEQUE
    br
    label(for="payee") payee
    input(type="text" name="payee")
    br
    label(for="staff") staff
    select(name="staff")
        for staff in staffs
            option(value=staff._id)=staff.name.firstName + " " +staff.name.firstName
    br
    label(for="accountId") accountId
    select(name="accountId")
        for accountId in accountIds
            option(value=accountId._id)=accountId.accountId
    br
    label(for="chequeIds") chequeIds
    select(name="chequeIds")
        for chequeId in chequeIds
            option(value=chequeId._id)=chequeId.chequeId
    br
    
    button(type="submit") cheque!